body{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar__brand{
    width: 150px;
    height: 100%;
}

.brand__logo{
    width: 100%;
    height: 100%;
}

 .header{
    padding: 20px;
    position: relative;
    z-index: 10;
} 

.wrapper{
    background-color:#ebf2ff ;
    height:169vh;
    background-image: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    background-size: cover;
}



.login__body{
    padding: 60px;
    z-index: 100;
    position: relative;
    max-width: 450px;
    height: 630px;
    margin-left: 50%;
    background-image: linear-gradient(
        to right ,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
    );
    border-radius: 10px;
    box-sizing: border-box;
    transform: translateX(-50%);
}

.login__body h2{
    font-size: 32px;
    color: #fff;
    margin-top: 0;
}

.login__body input {
    height: 50px;
    width: 100%;
    border-radius: 3px;
    color: #fff;
    background: #ebf2ff;
    border: 1px solid #ebf2ff;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}

.input__wrap{
    margin-bottom: 25px;

}

.login__body button {
    height: 50px ;
    width: 100%;
    color: black;
    background: #ebf2ff;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #ebf2ff;
}

.support{
    display: flex;
    color: #fff;
    justify-content: space-between;
    font-size: 12px;

}

.support input {
    width: 15px;
    height: 15px;
}

.remember{
    display: flex;
    align-items: center;

}

.remember span {
    margin-right: 10px;
    height: 25px;
}

.login__facebook{
    display: flex;
    align-items: center;
    width: 100%;
    color: #737373;
}

.login__facebook img {
    width: 20px ;
    height: 20px;
}

.login__facebook span {
    margin-right: 10px;
    font-size: 13px;

}

.login__facebook span a {
    text-decoration: none;
    color: #ebf2ff;

}


.terms{
    color: #ebf2ff;
    font-size: 13px;

}

.terms a{
    text-decoration: none;
    color: #0071eb;
}

footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px 15px 0 0;
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100% );
}

.footer__logo{
    color: white;
    filter: brightness(0) invert(1);
}

.list{
    color: white;
    text-decoration: none;
    
}
.footer__list{
    margin-top: -20px;
    margin-bottom: 20px;
    list-style-type: none;
}
